<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solution Explorer</title>
    <link rel="stylesheet" href="{{cssUri}}" type="text/css" />
  </head>
  <body>
    <h3>Select a Project</h3>
    <select id="projectDropdown">
      <option value="">-- Select a project --</option>
      <!-- Project options will be injected here -->
    </select>

    <div id="templateInputs" class="hidden">
      <div class="form-group">
        <label for="templateName">Template Name</label>
        <input
          type="text"
          id="templateName"
          placeholder="Enter template name"
        />
        <span
          id="templateNameError"
          class="error-message"
          style="color: red; display: none"
          >Template Name is required</span
        >
      </div>
      <div class="form-group">
        <label for="templateDescription">Template Description</label>
        <input
          type="text"
          id="templateDescription"
          placeholder="Enter template description"
        />
        <span
          id="templateDescriptionError"
          class="error-message"
          style="color: red; display: none"
          >Template Description is required</span
        >
      </div>

      <div class="form-group">
        <label for="languageDropdown">Language Tags</label>
        <div class="dropdown-container">
          <div class="dropdown" id="languageDropdown">Select Language Tags</div>
          <div class="dropdown-content" id="languageTagDropdown"></div>
        </div>

        <!-- Dropdown for Platform Tag -->
        <div class="dropdown-container">
          <label for="languageDropdown">Platform Tags</label>
          <div class="dropdown" id="platformDropdown">Select Platform Tags</div>
          <div class="dropdown-content" id="platformTagDropdown"></div>
        </div>

        <!-- Dropdown for Project Type Tag -->
        <div class="dropdown-container">
          <label for="languageDropdown">Project Type Tags</label>
          <div class="dropdown" id="projectTypeDropdown">
            Select Project Type Tags
          </div>
          <div class="dropdown-content" id="projectTypeTagDropdown"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="excludePathInput">Add Folder/File to Exclude:</label>
        <input
          type="text"
          id="excludePathInput"
          placeholder="Enter folder/file path"
        />
        <button id="addExcludePathButton" class="btn">Add</button>

        <ul id="excludePathsList" class="ul"></ul>
      </div>
      <button id="generateButton" class="btn">Generate Template</button>
    </div>

    <script src="{{jsUri}}"></script>
  </body>
</html>
